$breakpoints: (
    grid-tablet:600px,
    movil-max: 767px,
    tablet-min: 768px,
    nav-menu: 1279px,
    portatil-L: 1440px,
    ordenador-4k: 2000px,
    
);

@mixin max($breakpoint) {
    /*Es la resolución maxima de un dispositivo*/
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content
    }
};

@mixin between($breakpointMin, $breakpointMax ) {
    /*Es la resolución entre dos medidas*/
    @media only screen and (min-width: map-get($breakpoints, $breakpointMin)) and (max-width: map-get($breakpoints, $breakpointMax)) {
        @content
    }
};

@mixin min($breakpoint) {
    /*Resolución mínimas para los dispositivos*/
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content
    }
};