
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Playfair+Display&family=Qwitcher+Grypen:wght@700&display=swap');
/*COLORES */

$blanco: #fff;
$negro:#000000;
$paleta1: #321c3d;
$paleta2:#84778C;
$paleta3: #D96704;
$paleta4:#8C471F;

/*TIPOGRAFÍA*/
$tipografia: 'Open Sans', sans-serif;


/*ANCHOS Y ALTOS*/

$espaciadoPA: 1px;

$letraPeque: 15px;
$letraMediana: 20px;
$letraH1secundario:20px;
$letraTitulo: 4vmin;

/*BORDES*/

$bordeBlanco: 1px rgb(255, 255, 255) solid;
$bordeNegro:1px rgb(0, 0, 0) solid;
$bordePaleta: 1px #171c26 solid;

