.pie {
    background-color: #321c3d;
    width: 100%;
    height: 350px;
    color: $blanco;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;

    @include movil-max(movil-max) {
        flex-direction: column;
        height: 1000px;
    }
    a{
        color: #fff
    }

    

    .cajaArriba {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        @include movil-max(movil-max) {
            margin-top: 100px;
            flex-direction: column;
            
        }

        li {
            padding: 5px;

            &:last-child {
                a {
                    padding: 10px;
                    font-size: 30px;
                }
            }
            
           }
        #logoFooter {
            width: 50px;

            img {
                width: 100%;
            }
        }
    /*UBICACIÓN DE LA EMPRESA*/

    .map-container {
        overflow: hidden;
        position: relative;
        // margin-top: 50px;
    }
    
    // .map-container iframe {
    //     left: 0;
    //     top: 0;
    //     height: 70%;
    //     width: 50%;
    //     position: absolute;
    // }
    }


    .cajaAbajo {
        width: 60%;
        margin-top: 30px;
        // margin-right: 100px;
        #redes {
            ul {
                display: flex;
                align-items: center;
                color: $blanco;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                li {
                    padding: 20px;
                }
                a {
                    font-size: 30px;
                }
            }
        }
    }
}