.contenedor-login {
    width: 500px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    height: 400px;
    margin: 200px  auto;
    border: $bordeNegro;
    border-radius: 10%;

   
}