/*MAIN DE RESTO DE PÁGINAS
* .inicio es el div de la pagina principal
*/
.inicio {
    height: 100vh;
    background-image: linear-gradient(rgba(50, 28, 61, 1), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI/public/src/img/fondoInicio.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;

    @include movil-max(movil-max) {
        height: 120vh;

    }

    @include ordenador-max(tablet-min, portatil-L) {
        height: 100vh;
    }

    // @include ordenador-4k(ordenador-4k) {
    //     // height: 70vh;
    // }
    .header-contenido {
        color: $blanco;
        text-align: center;
        width: 50%;
        margin-top: 100px;

        @include movil-max(movil-max) {
            width: 80%;
            margin-top: 90px;
        }

        p {
            padding: 20px;
            line-height: 50px;
            color: $blanco;
            letter-spacing: $espaciadoPA;

            @include movil-max(movil-max) {
                font-size: $letraPequeña;
            }

            @include ordenador-max(tablet-min, portatil-L) {
                font-size: $letraMediana;
            }
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: $espaciadoH1;
            word-spacing: 0.25em;
            padding: 10px;
        }


        a {
            color: $blanco;
            background-color: rgb(217, 103, 4);
            border: solid 2px rgb(217, 103, 4);

            letter-spacing: $espaciadoPA;
            transition: all 0.5s ease;
            // background-color:rgba(50, 28, 61);
            // border: solid 2px rgba(50, 28, 61);
            // font-weight:bold;
            // border: $bordeBlanco;
            padding: 15px;

            &:hover {
                border: solid 2px rgba(217, 103, 4, 0.719);
                background-color: rgba(217, 103, 4, 0.719);

                // border: solid 2px rgba(50, 28, 61, 0.719);
                // background-color:rgba(50, 28, 61, 0.719);
            }

            @include movil-max(movil-max) {
                font-size: $letraPequeña;
            }

            @include ordenador-max(tablet-min, portatil-L) {
                font-size: $letraMediana;

            }

        }
    }
}



/*HEADER DE RESTO DE PÁGINAS*/

@mixin secundario {
    margin-top: 0px;
    z-index: -1000;
    text-align: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    @include movil-max(movil-max) {
        height: 300px;
    }
    

    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 100px;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
        background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40));

        h1 {
            font-size: 60px;
            margin-bottom: 30px;
            @include movil-max(movil-max) {
                font-size: 30px;
            }
        
        }

        h3,
        p {
            margin-bottom: 30px;
        }
    }

}

// IMAGENES PARA CADA PAGAINA DEL MENÚ DE NAVEGACION
.header-secundario-sobreNosotros {
    background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI/public/src/img/fondoSobreNosotros.jpg);
    @include secundario();
}

.header-secundario-blog {
    background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI/public/src/img/fondoSobreNosotros.jpg);
    @include secundario();
}

// /*HEADERS NAVEGACION*/
// .nav-clases {
//     background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);

//     // @include ordenador-4k(ordenador-4k) {
//     //     background-image: linear-gradient(rgba(50,28,61), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);
//     // }
//     @include secundario();

// }

// .nav-equipo {
//     background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoEquipo.jpg);
//     // @include ordenador-4k(ordenador-4k) {
//     //     background-image: linear-gradient(rgba(50,28,61), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);
//     // }
//     @include secundario();

// }


// .imagen-fondo {
//     background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoSobreNosotros.jpg);
//     // @include ordenador-4k(ordenador-4k) {
//     //     background-image: linear-gradient(rgba(50,28,61), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);
//     // }
//     @include secundario();

// }



// .nav-blog {
//     background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoBlog.jpg);
//     // @include ordenador-4k(ordenador-4k) {
//     //     background-image: linear-gradient(rgba(50,28,61), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);
//     // }
//     @include secundario();

// }

.header-secundario-contacto {
    background-image: linear-gradient(rgba(50, 28, 61, 0.40), rgba(0, 0, 0, 0.40)), url(http://localhost/PROYECTO_ZESARI/public/src/img/fondoContacto.jpg);
    // @include ordenador-4k(ordenador-4k) {
    //     background-image: linear-gradient(rgba(50,28,61), rgba(0, 0, 0, 0.70)), url(http://localhost/PROYECTO_ZESARI-main/public/src/img/fondoClases.jpg);
    // }
    @include secundario();

}


/*HEADER DEL SUBMENU*/
.header-submenu {
    z-index: -1000;
    text-align: center;
    width: 100%;
    height: 300px;
    background: rgb(50, 28, 61);
    background: radial-gradient(circle, rgba(50, 28, 61, 1) 50%, rgba(132, 119, 140, 1) 80%, rgba(217, 103, 4, 1) 120%);

    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;

        h1 {
            font-size: 50px;
            margin-top: 30px;

        }

    }
}