main {

    @include max(movil-max) {
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .main-contenido {
        // margin-top: 70px;

        h1 {
            color: $paleta3;
        }

        section {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                color: #D96704;
                font-size: 40px;
            }
    
            h3 {
                margin-bottom: 50px;
            }
    
            .principios {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding: 10px;
    
                @include max(movil-max) {
                    grid-template-columns: 1fr;
                }
                @include between(tablet-min, nav-menu) {
                    grid-template-columns: 1fr 1fr;
                }
    
                .caja {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 200px;
                    margin: 20px;
                    background-color: $blanco;
                    // border: $bordeNegro;
                    padding: 10px;
    
                    .image {
                        height: auto;
    
                        picture {
                            display: flex;
                            justify-content: center;
                            border-color: $bordeNegro;
    
                            img {
                                width: 30%;
                                border-radius: 10px;
                            }
                        }
    
                    }
    
                    .contenido {
                        text-align: center;
                        padding: 15px;
                        height: 200px;
    
                        h4 {
                            color: #D96704;
                        }
    
                        p {
                            padding: 10px;
                            // letter-spacing: $espaciadoPA
                        }
                    }
    
                }
            }
    
        }
    
        #contactaIndex {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px;

            @include max(movil-max) {
                grid-template-columns: 1fr;
            }
            .caja {
                margin: auto;
                width: 500px;
                padding: 40px;
                text-align: center;

                @include max(movil-max) {
                     width: 300px;
                }

                @include between(tablet-min, portatil-L)  {
                    width: 400px;
                }
                img {
                    width: 100%;
                }
    
                a {
                    color: $blanco;
                    background-color: rgb(217, 103, 4);
                    border: solid 2px rgb(217, 103, 4);
                    letter-spacing: $espaciadoPA;
                    transition: all 0.5s ease;
                    padding: 15px;
        
                    &:hover {
                        border: solid 2px rgba(217, 103, 4, 0.719);
                        background-color: rgba(217, 103, 4, 0.719);
                    }
        
                    @include max(movil-max) {
                        font-size: $letraPeque;
                    }
        
                    @include between(tablet-min, portatil-L) {
                        font-size: $letraMediana;
        
                    }
        
                }
            }
        }   
    }  
}