main {
    // .main-contenido-contacto {
    //     margin-top: 100px;
    // }

    @include movil-max(movil-max) {
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .main-contenido {
        margin: 70px 40px 70px 40px;

        h1 {
            color:#D96704;
        }
           // MEDIA QUERIE MAIN
        //    @include movil-max(movil-max) {
        //     height: 1000px;  
        // }

        // @include ordenador-4k(ordenador-4k) {
        //     margin-top: 100px;

        // }

        section {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                // text-transform: uppercase;
                color: #D96704;
                font-size: 40px;
            }
    
            h3 {
                margin-bottom: 50px;
            }
    
            .principios {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding: 10px;
    
                @include movil-max(movil-max) {
                    grid-template-columns: 1fr;
                }
                @include ordenador-max(tablet-min, nav-menu) {
                    grid-template-columns: 1fr 1fr;
                }
    
                .caja {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 200px;
                    margin: 20px;
                    background-color: $blanco;
                    // border: $bordeNegro;
                    padding: 5px;
    
                    .image {
                        height: 100px;
    
                        picture {
                            display: flex;
                            justify-content: center;
                            border-color: $bordeNegro;
    
                            img {
                                width: 30%;
                                border-radius: 10px;
    
    
                            }
                        }
    
                    }
    
    
                    .contenido {
                        text-align: center;
                        padding: 15px;
                        height: 200px;
    
                        h4 {
                            color: #D96704;
                        }
    
                        p {
                            padding: 10px;
                            // letter-spacing: $espaciadoPA
                        }
                    }
    
                }
            }
    
        }
    
        #contactaIndex {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px;

            @include movil-max(movil-max) {
                grid-template-columns: 1fr;
            }

            
            .caja {
                width: 500px;
                padding: 40px;
                text-align: center;

                @include movil-max(movil-max) {
                     width: 300px;
                }

                @include ordenador-max(tablet-min, portatil-L)  {
                    width: 400px;
                }
                img {
                    width: 100%;
                }
    
                a {
                    color: $blanco;
                    background-color: rgb(217, 103, 4);
                    border: solid 2px rgb(217, 103, 4);
        
                    letter-spacing: $espaciadoPA;
                    transition: all 0.5s ease;
                    // background-color:rgba(50, 28, 61);
                    // border: solid 2px rgba(50, 28, 61);
                    // font-weight:bold;
                    // border: $bordeBlanco;
                    padding: 15px;
        
                    &:hover {
                        border: solid 2px rgba(217, 103, 4, 0.719);
                        background-color: rgba(217, 103, 4, 0.719);
        
                        // border: solid 2px rgba(50, 28, 61, 0.719);
                        // background-color:rgba(50, 28, 61, 0.719);
                    }
        
                    @include movil-max(movil-max) {
                        font-size: $letraPequeña;
                    }
        
                    @include ordenador-max(tablet-min, portatil-L) {
                        font-size: $letraMediana;
        
                    }
        
                }
            }
        }   
    }

    

   
}